<!-- templates/overview.html -->

<style>
    body {
        font-family: Arial;
        margin: 40px;
    }

    h1, h2 {
        color: rgb(61, 59, 59);
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
    }

    select, button {
        padding: 8px;
        margin-top: 10px;
    }
</style>

<h1>Dataset Overview</h1>

<p>Rows: {{ shape[0] }}</p>
<p>Columns: {{ shape[1] }}</p>

<h2>Column Types</h2>

<ul>
    {% for col, dtype in dtypes.items() %}
        <li>{{ col }} : {{ dtype }}</li>
    {% endfor %}
</ul>

<h2>Preview</h2>

<div>
    {{ preview|safe }}
</div>

<h2>Select a column for analysis</h2>

<form action="/analyze" method="post">

    <select name = "column">

        {% for col in columns %}
            <option value="{{ col }}">{{ col }}</option>
        {% endfor %}

    </select>

<button type = "submit">Generate an analysis</button>

</form>